<%= form_for @blab do |f| %>
	<% if @blab.errors.any? %>
		<% @blab.errors.full_messages.each do |message| %>
			<div class="alert-box alert"><%= message %></div>
		<% end %>
	<% end %>

	<div class="panel radius">
	<%= f.text_field :text, {placeholder: 'put your blabber here...'} %>
	</div>

	<%= f.submit "blabber time", class: "button radius inline" %>
	<%= link_to 'go back', blabs_path, class: "button radius inline secondary" %>
<% end %>